{{> navigation this }}

<div id="form">

  <section class="container text-center mx-auto">
    <div class="col-md-12 col-sm-12">
        <h1>Ingresar como usuario</h1>
    </div>
  </section>

  <form action="/login" method="POST">

    <div class="mb-3 row">
      <label for="email" class="col-sm-2 col-form-label">Correo</label>
        <div class="col-sm-10">
          <input class="form-control" type="email" id="email" name="email" placeholder="Ingrese su correo" />
        </div>
    </div>

    <div class="mb-3 row">
      <label for="password" class="col-sm-2 col-form-label">Contraseña</label>
      <div class="col-sm-10">
        <input class="form-control" type="password" name="password" id="password" placeholder="Ingrese su contraseña" />
      </div>
    </div>

    <button type="submit" class="btn btn-dark">Login</button>

    

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>