{{> navigation this }}

<div id="signup">

  <section class="container text-center mx-auto mt-5 mb-5">
    <div class="col-md-12 col-sm-12">
        <h1>Ingresar como Admin</h1>
    </div>
  </section>

  <form action="/login-admin" method="POST">

    <div class="mb-3 row">
      <label for="email" class="col-sm-2 col-form-label">Correo</label>
        <div class="col-sm-10">
          <input class="form-control" type="email" id="email" name="email" placeholder="Ingrese su correo" />
        </div>
    </div>

    <div class="mb-3 row">
      <label for="passwordHash" class="col-sm-2 col-form-label">Contraseña</label>
        <div class="col-sm-10">
          <input class="form-control" type="password" name="passwordHash" id="input-password" placeholder="Ingrese su contraseña" />
        </div>
    </div>

    <button type="submit" class="btn btn-dark">Login</button>

    {{#if errorMessage2}}
      <p class="error">{{errorMessage2}}</p>
    {{/if}}

  </form>

</div>