{{#if adminInSession}}
    <h2>Bienvenido, {{ adminInSession.admin }}!</h2>
    <p>Administrador, esta es tu página de perfil!</p>

{{else}}
  <p>Aún no has ingresado>
  <a href="/login-admin">Log in</a>
{{/if}}