{{> navigation this }}

{{#if cookie}}
    <h2>Bienvenido, {{ cookie.admin }}!</h2>
    <p>Administrador, esta es tu página de perfil!</p>

{{else}}
  <p>Aún no has ingresado!</p>
  <a href="/login">Log in</a>
{{/if}}