{{> navigation this }}

<div id="form">

  <section class="container text-center mx-auto">
    <div class="col-md-12 col-sm-12">
        <h1>Editar informaci칩n</h1>
    </div>
  </section>

  <form action="/edit/{{responseDB._id}}" method="POST" enctype='multipart/form-data'>

    <div class="mb-3 row">
      <label for="artistDesign" class="col-sm-2 col-form-label">Nombre del artista: </label>
      <div class="col-sm-10">
        <input type="text" name="artistDesign" placeholder="Tu nombre" value="{{responseDB.artistDesign}}"/>
      </div>
    </div>

    <label for="title">Titulo: </label>
    <input type="text" name="title" placeholder="Editar titulo" value="{{responseDB.title}}"/>

    <label for="design">Dise침o</label>
    <input type="file" name="design" />

    <label for="description">Descripci칩n: </label>
    <textarea type="text" name="description" placeholder="Editar descripci칩n" value="{{responseDB.description}}"></textarea>

    <button type="submit">Hacer cambios</button>

  </form>

</div>