{{> navigation this }}

<h2>Editar informaci칩n</h2>

<form action="/edit/{{responseDB._id}}" method="POST" enctype='multipart/form-data'>

  <label for="artistDesign">Nombre del artista: </label>
  <input type="text" name="artistDesign" placeholder="Tu nombre" value="{{responseDB.artistDesign}}"/>

  <label for="title">Titulo: </label>
  <input type="text" name="title" placeholder="Editar titulo" value="{{responseDB.title}}"/>

  <label for="design">Dise침o</label>
  <input type="file" name="design" />

  <label for="description">Descripci칩n: </label>
  <textarea type="text" name="description" placeholder="Editar descripci칩n" value="{{responseDB.description}}"></textarea>

  <button type="submit">Hacer cambios</button>

</form>