{{> navigation this }}

<p>Gallery</p>



{{#each oneDesignFound}}

    <p>Nombre artista: {{oneDesignFound.artistDesign}}</p> 

    <p>Titulo: {{oneDesignFound.title}}</p> 

    <p>Imagen: {{oneDesignFound.design}}</p> 

    <p>Descripcion: {{oneDesignFound.description}}</p> 

{{/each}}