{{> navigation this }}
  <main role="main">
        <div class="jumbotron">
          <div class="container">
            <div class="container">
              {{!-- <h1 class="display-3">Somos un estudio profesional de tatuajes!</h1>
              <p>Hacemos diseños personalizados, también hacemos piercing, .</p>
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> --}}

              <div class="container text-center">
                <div class="row">
                  <div class="col-md-7 col-sm-12">
                    <h2>Somos CampoSanto</h2>
                    <h5>Un estudio profesional de tatuadores en Toluca y Metepec</h5>
                    <p>Hacemos tatuajes y piercing, visita nuestra galería y conoce nuestros diseños.</p>
                    <a href="/gallery">
                      <button class="btn btn-light px-5 py-2" type="submit" formaction="/gallery">Galería</button>
                    </a>
                  </div>
                  <div class="col-md-5  col-sm-12 h-12">
                    <img src="./images/camposanto.jpg">
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
  </main>