<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/signup">Sign Up</a>

<a href="/login">Log in</a>

<a href="/login-admin">Log in Admin</a>

<a href="/logout">Log out</a>

<a href="/gallery">Galería</a>

<a href="/upload-design">Subir imagen</a>