{{#if user}}
  <h2>Bienvenido, {{ user.username }}!</h2>
  <p>Esta es tu página de perfil!</p>
  <button>
    <a href="/userProfile">Refresca la página</a>
  </button>
{{else}}
  <p>Aún no has ingresado!</p>
  <a href="/login">Log in</a>
{{/if}}