{{> navigation this }}

{{#if userInSession}}
    <h2>Bienvenido, {{ userInSession.username }}!</h2>
    <p>Esta es tu página de perfil!</p>
    <button>
        <a href="/user-profile">Refresca la página</a>
    </button>
{{else}}
{{> navigation this }}
  <p>Aún no has ingresadooo!</p>
  <a href="/login">Log in</a>
{{/if}}